<section class="header-intro" aria-role="banner">
    <h1>Press</h1>
</section>
<section class="press tracked">
    <div class="block">
        <div class="cta">
            <h2>Download the One Boston Day Media Kit</h2>
            <a class="btn button primary" href="/pdf/OneBostonDay_MediaKit_03152018.pdf" download>Download</a>
        </div>
        <ul>
            <% for(var i=0; i<public.press._data.length;i++) {%>
                <li>
                    <a target="_blank" href="<%= public.press._data[i].link %>">
                        <%= public.press._data[i].title %>
                    </a>
                    <time><%= public.press._data[i].date %></time>
                    <span><%= public.press._data[i].reference %></span>
                </li>
            <% } %>
        </ul>
    </div>
</section>