@charset "UTF-8";
/*//////////////////////////////////////
//  imports
//////////////////////////////////////*/
/* line 5, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../build/sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*//////////////////////////////////////
//  colors
//////////////////////////////////////*/
/*//////////////////////////////////////
//  fonts
//////////////////////////////////////*/
/*//////////////////////////////////////
//  extension on skeleton
//////////////////////////////////////*/
/* line 42, ../../build/sass/partials/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 46, ../../build/sass/partials/_base.scss */
.block {
  *zoom: 1;
}
/* line 17, ../../build/sass/bourbon/addons/_clearfix.scss */
.block:before, .block:after {
  content: " ";
  display: table;
}
/* line 23, ../../build/sass/bourbon/addons/_clearfix.scss */
.block:after {
  clear: both;
}

/* line 51, ../../build/sass/partials/_base.scss */
.disable-hover {
  pointer-events: none;
}

/* line 55, ../../build/sass/partials/_base.scss */
b, strong {
  font-weight: 700;
}

/* line 59, ../../build/sass/partials/_base.scss */
i, em {
  font-style: italic;
}

/* line 63, ../../build/sass/partials/_base.scss */
input:focus, textarea:focus {
  outline: none;
}

/* line 67, ../../build/sass/partials/_base.scss */
button, input[type="submit"] {
  cursor: pointer;
}

/* line 71, ../../build/sass/partials/_base.scss */
a {
  text-decoration: none;
}

/*//////////////////////////////////////
//  mixins
//////////////////////////////////////*/
/*//////////////////////////////////////
//  silent classes
//////////////////////////////////////*/
/* line 100, ../../build/sass/partials/_base.scss */
.block {
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 117, ../../build/sass/partials/_base.scss */
.burger-box, .main-nav ul {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 126, ../../build/sass/partials/_base.scss */
.intro .copy, .video span {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

/* line 137, ../../build/sass/partials/_base.scss */
body, html {
  display: block;
  height: 100%;
}

/* line 142, ../../build/sass/partials/_base.scss */
body {
  position: relative;
  font-size: 16px;
  font-family: "Gotham SSm A";
}

/* line 148, ../../build/sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6, strong, b {
  font-family: "Gotham SSm B";
}

/* line 152, ../../build/sass/partials/_base.scss */
h1 {
  font-size: 2.2em;
}

/* line 156, ../../build/sass/partials/_base.scss */
h2 {
  font-size: 1.875em;
  text-transform: uppercase;
}

/* line 161, ../../build/sass/partials/_base.scss */
h3 {
  font-size: 1.2em;
}

/* line 165, ../../build/sass/partials/_base.scss */
p {
  font-size: 1em;
  line-height: 1.43;
}

/* line 170, ../../build/sass/partials/_base.scss */
.overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(47, 150, 248, 0.7);
}

/* line 176, ../../build/sass/partials/_base.scss */
.section-intro {
  text-align: center;
  padding: 60px 10px;
}
/* line 179, ../../build/sass/partials/_base.scss */
.section-intro h2 {
  margin-bottom: 1em;
  display: block;
}
/* line 183, ../../build/sass/partials/_base.scss */
.section-intro p {
  max-width: 520px;
  margin: 0 auto;
  line-height: 1.7;
}

/* line 1, ../../build/sass/partials/_burger.scss */
.burger-box {
  position: fixed;
  top: 13px;
  right: 10px;
  z-index: 12;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  display: block;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background-color: rgba(255, 255, 255, 0);
}
/* line 11, ../../build/sass/partials/_burger.scss */
.burger-box.open {
  background-color: white;
}

/* line 16, ../../build/sass/partials/_burger.scss */
.burger,
.burger:before,
.burger:after {
  position: absolute;
  top: 16px;
  left: 6px;
  width: 24px;
  height: 3px;
  background: #fff;
}

/* line 27, ../../build/sass/partials/_burger.scss */
.burger:before {
  top: -8px;
  left: 0;
  content: "";
}

/* line 33, ../../build/sass/partials/_burger.scss */
.burger:after {
  top: 8px;
  left: 0;
  content: "";
}

/* line 39, ../../build/sass/partials/_burger.scss */
.open .burger {
  -webkit-animation: burger-open 0.3s forwards;
  -moz-animation: burger-open 0.3s forwards;
  animation: burger-open 0.3s forwards;
}

/* line 43, ../../build/sass/partials/_burger.scss */
.open .burger:before {
  -webkit-animation: burger-top-open 0.3s forwards;
  -moz-animation: burger-top-open 0.3s forwards;
  animation: burger-top-open 0.3s forwards;
}

/* line 47, ../../build/sass/partials/_burger.scss */
.open .burger:after {
  -webkit-animation: burger-bot-open 0.3s forwards;
  -moz-animation: burger-bot-open 0.3s forwards;
  animation: burger-bot-open 0.3s forwards;
}

/* line 51, ../../build/sass/partials/_burger.scss */
.closed .burger {
  -webkit-animation: burger-closed 0.3s forwards;
  -moz-animation: burger-closed 0.3s forwards;
  animation: burger-closed 0.3s forwards;
}

/* line 55, ../../build/sass/partials/_burger.scss */
.closed .burger:before {
  -webkit-animation: burger-top-closed 0.3s forwards;
  -moz-animation: burger-top-closed 0.3s forwards;
  animation: burger-top-closed 0.3s forwards;
}

/* line 59, ../../build/sass/partials/_burger.scss */
.closed .burger:after {
  -webkit-animation: burger-bot-closed 0.3s forwards;
  -moz-animation: burger-bot-closed 0.3s forwards;
  animation: burger-bot-closed 0.3s forwards;
}

@-webkit-keyframes burger-open {
  0% {
    background: #2f96f8;
  }
  50% {
    background: #2f96f8;
  }
  51% {
    background: rgba(47, 150, 248, 0);
  }
  100% {
    background: rgba(47, 150, 248, 0);
  }
}
@-moz-keyframes burger-open {
  0% {
    background: #2f96f8;
  }
  50% {
    background: #2f96f8;
  }
  51% {
    background: rgba(47, 150, 248, 0);
  }
  100% {
    background: rgba(47, 150, 248, 0);
  }
}
@-o-keyframes burger-open {
  0% {
    background: #2f96f8;
  }
  50% {
    background: #2f96f8;
  }
  51% {
    background: rgba(47, 150, 248, 0);
  }
  100% {
    background: rgba(47, 150, 248, 0);
  }
}
@keyframes burger-open {
  0% {
    background: #2f96f8;
  }
  50% {
    background: #2f96f8;
  }
  51% {
    background: rgba(47, 150, 248, 0);
  }
  100% {
    background: rgba(47, 150, 248, 0);
  }
}
@-webkit-keyframes burger-top-open {
  0% {
    top: -8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  90% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 55deg);
    -moz-transform: rotate3d(0, 0, 1, 55deg);
    -ms-transform: rotate3d(0, 0, 1, 55deg);
    -o-transform: rotate3d(0, 0, 1, 55deg);
    transform: rotate3d(0, 0, 1, 55deg);
    background-color: #2F96F8;
  }
  100% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: #2F96F8;
  }
}
@-moz-keyframes burger-top-open {
  0% {
    top: -8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  90% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 55deg);
    -moz-transform: rotate3d(0, 0, 1, 55deg);
    -ms-transform: rotate3d(0, 0, 1, 55deg);
    -o-transform: rotate3d(0, 0, 1, 55deg);
    transform: rotate3d(0, 0, 1, 55deg);
    background-color: #2F96F8;
  }
  100% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: #2F96F8;
  }
}
@-o-keyframes burger-top-open {
  0% {
    top: -8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  90% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 55deg);
    -moz-transform: rotate3d(0, 0, 1, 55deg);
    -ms-transform: rotate3d(0, 0, 1, 55deg);
    -o-transform: rotate3d(0, 0, 1, 55deg);
    transform: rotate3d(0, 0, 1, 55deg);
    background-color: #2F96F8;
  }
  100% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: #2F96F8;
  }
}
@keyframes burger-top-open {
  0% {
    top: -8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  90% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 55deg);
    -moz-transform: rotate3d(0, 0, 1, 55deg);
    -ms-transform: rotate3d(0, 0, 1, 55deg);
    -o-transform: rotate3d(0, 0, 1, 55deg);
    transform: rotate3d(0, 0, 1, 55deg);
    background-color: #2F96F8;
  }
  100% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: #2F96F8;
  }
}
@-webkit-keyframes burger-bot-open {
  0% {
    top: 8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  90% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -55deg);
    -moz-transform: rotate3d(0, 0, 1, -55deg);
    -ms-transform: rotate3d(0, 0, 1, -55deg);
    -o-transform: rotate3d(0, 0, 1, -55deg);
    transform: rotate3d(0, 0, 1, -55deg);
    background-color: #2F96F8;
  }
  100% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    background-color: #2F96F8;
  }
}
@-moz-keyframes burger-bot-open {
  0% {
    top: 8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  90% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -55deg);
    -moz-transform: rotate3d(0, 0, 1, -55deg);
    -ms-transform: rotate3d(0, 0, 1, -55deg);
    -o-transform: rotate3d(0, 0, 1, -55deg);
    transform: rotate3d(0, 0, 1, -55deg);
    background-color: #2F96F8;
  }
  100% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    background-color: #2F96F8;
  }
}
@-o-keyframes burger-bot-open {
  0% {
    top: 8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  90% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -55deg);
    -moz-transform: rotate3d(0, 0, 1, -55deg);
    -ms-transform: rotate3d(0, 0, 1, -55deg);
    -o-transform: rotate3d(0, 0, 1, -55deg);
    transform: rotate3d(0, 0, 1, -55deg);
    background-color: #2F96F8;
  }
  100% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    background-color: #2F96F8;
  }
}
@keyframes burger-bot-open {
  0% {
    top: 8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background-color: #2F96F8;
  }
  90% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -55deg);
    -moz-transform: rotate3d(0, 0, 1, -55deg);
    -ms-transform: rotate3d(0, 0, 1, -55deg);
    -o-transform: rotate3d(0, 0, 1, -55deg);
    transform: rotate3d(0, 0, 1, -55deg);
    background-color: #2F96F8;
  }
  100% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    background-color: #2F96F8;
  }
}
@-webkit-keyframes burger-closed {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  50% {
    background: rgba(255, 255, 255, 0);
  }
  255% {
    background: white;
  }
  100% {
    background: white;
  }
}
@-moz-keyframes burger-closed {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  50% {
    background: rgba(255, 255, 255, 0);
  }
  255% {
    background: white;
  }
  100% {
    background: white;
  }
}
@-o-keyframes burger-closed {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  50% {
    background: rgba(255, 255, 255, 0);
  }
  255% {
    background: white;
  }
  100% {
    background: white;
  }
}
@keyframes burger-closed {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  50% {
    background: rgba(255, 255, 255, 0);
  }
  255% {
    background: white;
  }
  100% {
    background: white;
  }
}
@-webkit-keyframes burger-top-closed {
  0% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  90% {
    top: -10px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    top: -8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-moz-keyframes burger-top-closed {
  0% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  90% {
    top: -10px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    top: -8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-o-keyframes burger-top-closed {
  0% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  90% {
    top: -10px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    top: -8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@keyframes burger-top-closed {
  0% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  90% {
    top: -10px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    top: -8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-webkit-keyframes burger-bot-closed {
  0% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  90% {
    top: 10px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    top: 8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-moz-keyframes burger-bot-closed {
  0% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  90% {
    top: 10px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    top: 8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-o-keyframes burger-bot-closed {
  0% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  90% {
    top: 10px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    top: 8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@keyframes burger-bot-closed {
  0% {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  50% {
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  90% {
    top: 10px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    top: 8px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
/* line 4, ../../build/sass/screen.scss */
img {
  max-width: 100%;
}

/* Slider */
/* line 5, ../../build/sass/partials/_slider.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 20, ../../build/sass/partials/_slider.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 27, ../../build/sass/partials/_slider.scss */
.slick-list:focus {
  outline: none;
}
/* line 31, ../../build/sass/partials/_slider.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 36, ../../build/sass/partials/_slider.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 45, ../../build/sass/partials/_slider.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 51, ../../build/sass/partials/_slider.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 57, ../../build/sass/partials/_slider.scss */
.slick-track:after {
  clear: both;
}
/* line 61, ../../build/sass/partials/_slider.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 65, ../../build/sass/partials/_slider.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 69, ../../build/sass/partials/_slider.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 72, ../../build/sass/partials/_slider.scss */
.slick-slide img {
  display: block;
}
/* line 75, ../../build/sass/partials/_slider.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 81, ../../build/sass/partials/_slider.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 85, ../../build/sass/partials/_slider.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 89, ../../build/sass/partials/_slider.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 93, ../../build/sass/partials/_slider.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Slider */
/* Arrows */
/* line 138, ../../build/sass/partials/_slider.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 120px;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  padding: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
}
/* line 157, ../../build/sass/partials/_slider.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 162, ../../build/sass/partials/_slider.scss */
.slick-prev:before, .slick-prev:after,
.slick-next:before,
.slick-next:after {
  content: " ";
  display: block;
  width: 3px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: 40%;
  right: auto;
  bottom: auto;
  left: 45%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
/* line 171, ../../build/sass/partials/_slider.scss */
.slick-prev:after,
.slick-next:after {
  top: 60%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

/* line 177, ../../build/sass/partials/_slider.scss */
.slick-prev {
  left: 25px;
}

/* line 181, ../../build/sass/partials/_slider.scss */
.slick-next {
  right: 25px;
}
/* line 183, ../../build/sass/partials/_slider.scss */
.slick-next:before, .slick-next:after {
  left: 55%;
}
/* line 186, ../../build/sass/partials/_slider.scss */
.slick-next:before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
}
/* line 189, ../../build/sass/partials/_slider.scss */
.slick-next:after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}

@media all and (min-width: 800px) {
  /* line 195, ../../build/sass/partials/_slider.scss */
  .slick-prev,
  .slick-next {
    top: 175px;
  }
}
/* Dots */
/* line 203, ../../build/sass/partials/_slider.scss */
.slick-slider {
  margin-bottom: 30px;
}

/* line 207, ../../build/sass/partials/_slider.scss */
.slick-dots {
  position: absolute;
  bottom: -5px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* line 215, ../../build/sass/partials/_slider.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 223, ../../build/sass/partials/_slider.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 235, ../../build/sass/partials/_slider.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 237, ../../build/sass/partials/_slider.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 241, ../../build/sass/partials/_slider.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "none";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 258, ../../build/sass/partials/_slider.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@media all and (min-width: 800px) {
  /* line 266, ../../build/sass/partials/_slider.scss */
  .slick-dots {
    bottom: -75px;
  }
}
/* line 1, ../../build/sass/partials/_main-nav.scss */
.main-nav {
  text-transform: uppercase;
  background-color: #2F96F8;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: 0px;
  -webkit-transition: background-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
  z-index: 8;
}
/* line 9, ../../build/sass/partials/_main-nav.scss */
.main-nav li a {
  color: #fff;
  display: block;
  padding: 10px;
}
/* line 14, ../../build/sass/partials/_main-nav.scss */
.main-nav img, .main-nav svg {
  width: 100%;
  max-width: 77px;
  margin: 0 auto;
  float: left;
}
/* line 20, ../../build/sass/partials/_main-nav.scss */
.main-nav ul {
  clear: both;
  max-height: 0px;
  overflow: hidden;
}
/* line 26, ../../build/sass/partials/_main-nav.scss */
.main-nav.active ul {
  max-height: 600px;
  padding: 20px 0;
}

@media all and (min-width: 860px) {
  /* line 33, ../../build/sass/partials/_main-nav.scss */
  .burger-box {
    display: none;
  }

  /* line 37, ../../build/sass/partials/_main-nav.scss */
  .main-nav {
    height: 68px;
  }
  /* line 39, ../../build/sass/partials/_main-nav.scss */
  .main-nav .block {
    position: relative;
    height: 100%;
  }
  /* line 43, ../../build/sass/partials/_main-nav.scss */
  .main-nav img, .main-nav svg {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
  }
  /* line 48, ../../build/sass/partials/_main-nav.scss */
  .main-nav ul {
    max-height: 100px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }
  /* line 54, ../../build/sass/partials/_main-nav.scss */
  .main-nav ul li {
    display: inline-block;
  }
  /* line 58, ../../build/sass/partials/_main-nav.scss */
  .main-nav li a {
    padding: 10px 30px;
  }
}
/* line 1, ../../build/sass/partials/_intro.scss */
.intro {
  min-height: 500px;
  height: calc(100vh - 64px);
  background-image: url('../img/skyline.jpg?1428516762');
  background-size: cover;
  margin-top: 64px;
  position: relative;
}
/* line 8, ../../build/sass/partials/_intro.scss */
.intro .logo {
  display: none;
}
/* line 11, ../../build/sass/partials/_intro.scss */
.intro .copy {
  top: 40%;
  width: 100%;
  color: #fff;
  padding: 10px;
}
/* line 18, ../../build/sass/partials/_intro.scss */
.intro .block {
  position: relative;
  height: 100%;
  z-index: 2;
}
/* line 23, ../../build/sass/partials/_intro.scss */
.intro p {
  margin: 1em 0;
}
/* line 26, ../../build/sass/partials/_intro.scss */
.intro h1, .intro p, .intro h3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  position: relative;
  top: 20px;
}

/* line 35, ../../build/sass/partials/_intro.scss */
.ready .intro h1, .ready .intro p, .ready .intro h3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  top: 0px;
}
/* line 39, ../../build/sass/partials/_intro.scss */
.ready .intro h1 {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 42, ../../build/sass/partials/_intro.scss */
.ready .intro p {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
}
/* line 45, ../../build/sass/partials/_intro.scss */
.ready .intro h3 {
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  transition-delay: 2s;
}

@media all and (min-width: 800px) {
  /* line 51, ../../build/sass/partials/_intro.scss */
  .intro {
    position: relative;
    min-height: 530px;
  }
  /* line 54, ../../build/sass/partials/_intro.scss */
  .intro .block {
    *zoom: 1;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: auto;
  }
  /* line 17, ../../build/sass/bourbon/addons/_clearfix.scss */
  .intro .block:before, .intro .block:after {
    content: " ";
    display: table;
  }
  /* line 23, ../../build/sass/bourbon/addons/_clearfix.scss */
  .intro .block:after {
    clear: both;
  }
  /* line 60, ../../build/sass/partials/_intro.scss */
  .intro .logo {
    display: block;
  }
  /* line 62, ../../build/sass/partials/_intro.scss */
  .intro .logo img, .intro .logo svg {
    width: 100%;
    position: relative;
    top: 15px;
  }
  /* line 67, ../../build/sass/partials/_intro.scss */
  .intro .logo svg {
    height: 200px;
  }
  /* line 71, ../../build/sass/partials/_intro.scss */
  .intro .copy {
    position: static;
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  /* line 75, ../../build/sass/partials/_intro.scss */
  .intro .logo, .intro .copy {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 33, ../../build/sass/neat/grid/_span-columns.scss */
  .intro .logo:last-child, .intro .copy:last-child {
    margin-right: 0;
  }
}
/* line 1, ../../build/sass/partials/_city.scss */
.city {
  background-color: #EAE4E5;
}

/* line 5, ../../build/sass/partials/_city.scss */
.video {
  position: relative;
  width: 100%;
  max-width: 750px;
  margin: 0 auto 60px;
}
/* line 10, ../../build/sass/partials/_city.scss */
.video img {
  width: 100%;
}
/* line 13, ../../build/sass/partials/_city.scss */
.video span {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
  width: 80px;
  text-align: center;
  line-height: 1.22;
  margin-top: 20px;
}
/* line 23, ../../build/sass/partials/_city.scss */
.video span svg {
  width: 80px;
  height: 80px;
  padding: 20px 17px 20px 23px;
  background-color: #222;
  margin-bottom: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 30, ../../build/sass/partials/_city.scss */
.video span svg use {
  fill: #fff;
}

/* line 1, ../../build/sass/partials/_community.scss */
.community {
  background-image: url('../img/community.jpg?1428523748');
  background-size: cover;
  background-position: center center;
  position: relative;
  color: #fff;
  padding-bottom: 60px;
  min-height: 780px;
}
/* line 9, ../../build/sass/partials/_community.scss */
.community .block, .community .slider {
  position: relative;
  z-index: 2;
}
/* line 13, ../../build/sass/partials/_community.scss */
.community .slider {
  padding: 25px 0;
}
/* line 16, ../../build/sass/partials/_community.scss */
.community .section-intro {
  color: #fff;
}
/* line 19, ../../build/sass/partials/_community.scss */
.community .overlay {
  background-color: rgba(42, 0, 55, 0.77);
  z-index: 1;
}
/* line 23, ../../build/sass/partials/_community.scss */
.community figure {
  margin: 10px 0;
}
/* line 25, ../../build/sass/partials/_community.scss */
.community figure > img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px white;
  padding: 10px;
  max-width: 180px;
  display: block;
  margin: 0 auto 20px;
}
/* line 35, ../../build/sass/partials/_community.scss */
.community .blockquote {
  margin-bottom: 30px;
  position: relative;
}
/* line 38, ../../build/sass/partials/_community.scss */
.community .blockquote q {
  font-size: 1.5em;
  line-height: 1.2;
  display: block;
  margin-bottom: 15px;
}
/* line 43, ../../build/sass/partials/_community.scss */
.community .blockquote q:before {
  content: '“';
}
/* line 47, ../../build/sass/partials/_community.scss */
.community .blockquote cite {
  font-size: 1.2em;
}
/* line 52, ../../build/sass/partials/_community.scss */
.community .copy {
  padding: 0 10px;
}
/* line 54, ../../build/sass/partials/_community.scss */
.community .copy > p {
  margin-bottom: 40px;
}
/* line 56, ../../build/sass/partials/_community.scss */
.community .copy > p + a {
  text-transform: uppercase;
  color: #fff;
}
/* line 64, ../../build/sass/partials/_community.scss */
.community .slick-dots li {
  border: 2px solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 67, ../../build/sass/partials/_community.scss */
.community .slick-dots li.slick-active {
  background-color: #fff;
}

@media all and (min-width: 800px) {
  /* line 76, ../../build/sass/partials/_community.scss */
  .community .activity .block {
    *zoom: 1;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 17, ../../build/sass/bourbon/addons/_clearfix.scss */
  .community .activity .block:before, .community .activity .block:after {
    content: " ";
    display: table;
  }
  /* line 23, ../../build/sass/bourbon/addons/_clearfix.scss */
  .community .activity .block:after {
    clear: both;
  }
  /* line 79, ../../build/sass/partials/_community.scss */
  .community figure {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 33, ../../build/sass/neat/grid/_span-columns.scss */
  .community figure:last-child {
    margin-right: 0;
  }
  /* line 81, ../../build/sass/partials/_community.scss */
  .community figure img {
    max-width: 300px;
  }
  /* line 85, ../../build/sass/partials/_community.scss */
  .community .copy {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 33, ../../build/sass/neat/grid/_span-columns.scss */
  .community .copy:last-child {
    margin-right: 0;
  }
  /* line 88, ../../build/sass/partials/_community.scss */
  .community .blockquote q:before {
    position: absolute;
    top: 0px;
    right: auto;
    bottom: auto;
    left: -13px;
  }
}

/*# sourceMappingURL=screen.css.map */
