<section class="header-intro">
    <h1>Take It With You</h1>
    <p>By displaying the One Boston Day logo, you’ll be letting the world know that you’re committed to your neighbors and the Boston community.</p>
</section>

<section class="downloads social">
    <div class="block">
        <h2>Change Your Profile Picture or Cover Photo to Show Your Support</h2>
        <div class="example">
            <picture>
                <source srcset="/img/imac-large.png" media="(min-width:700px)">
                <img src="/img/imac-small.png" alt="Change your profile picture">
            </picture>
        </div>
        <div class="profile-picture">
            <h5>Profile Pictures</h5>
            <ul class="square">
                <li>
                    <a href="#" download data-image="OneBostonDay_Logo_01_BlueNavy-square.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                </li>
                <li>
                    <a href="#" download data-image="OneBostonDay_Logo_02_BlueWhite-square.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                </li>
                <li>
                    <a href="#" download data-image="OneBostonDay_Logo_13_Rainbow.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                </li>
            </ul>
            <h5>Cover Photos</h5>
            <ul class="cover-photo">
                <li>
                    <a class="none-download" href="/zip/one-boston-day_covers.zip" download data-image="OneBostonDay_CoverPhoto_Facebook_v2.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="downloads anyuse">
    <div class="block">
        <header>
            <h2>Logos for Any Use</h2>
            <a href="/zip/one-boston-day_logos.zip" download class="package">Download Logo Package <svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg><em>40<sub>MB</sub></em></a> 
        </header>
        <div class="logo-container">
            <div class="anyday-logos">
                <ul>
                     <li>
                        <a href="#" download data-image="OneBostonDay_Logo_01_BlueNavy.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_03_BlueRed.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_09_GreenBlue.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_02_BlueWhite.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_04_BlueNavy.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_10_NavyWhite.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_05_Gray.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_11_YellowNavy.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_15_PurpleBlack.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_08_GrayWhite.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_12_NavyWhite.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                    <li>
                        <a href="#" download data-image="OneBostonDay_Logo_14_BlackWhitePurple.jpg"><span><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg></span></a>
                    </li>
                </ul>
            </div>
            <div class="example">
                <picture>
                    <source srcset="/img/iphone-large.png" media="(min-width:700px)">
                    <img src="/img/iphone-small.png" alt="Share on social">
                </picture>
            </div>
        </div>
    </div>
</section>