<footer class="main-footer">
    <div class="block">
        <div class="site-info">
            <a class="cityofboston-link" href="http://www.cityofboston.gov/"><img src="/img/boston.png" alt="City of Boston"></a>
            <p>Visit the <a href="/press/">Press page</a> to learn more about One Boston Day.</p>
            <p><a href="https://github.com/CityOfBoston/onebostonday" target="_blank">Improve this site on GitHub</a></p>
            <p><a href="http://www.cityofboston.gov/copyright/privacyandsecurity.asp" target="_blank">Privacy Policy</a></p>
        </div>
        <div class="follow mayor">
            <h5>Follow Mayor Walsh:</h5>
            <ul>
                <li><button class="instagram"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></button></li>
                <li><button class="flickr"><svg class="icon icon-flickr"><use xlink:href="#icon-flickr"></use></svg></button></li>
                <li><button class="twitter"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></button></li>
            </ul>
        </div>
        <div class="follow city">
            <h5>Follow the City of Boston:</h5>
            <ul>
                <li><button class="facebook"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></button></li>
                <li><button class="instagram"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></button></li>
                <li><button class="twitter"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></button></li>
            </ul>
        </div>
    </div>
</footer>