<p>Clicking the below button will take a complete scrape of this entry as of <strong>{{"now"|date('M j, Y h:ia T')}}</strong>, and then deliver those files as a zip to be uploaded to <strong>{{craft.export.getMySetting("siteDestination")}}</strong></p>
<a class="btn run-export" href="{# UPDATE TO BE ARTICLE URL #}">Run Export</a>