<section class="header-intro">
    <h1>Community Impact</h1>
    <p>One Boston Day is an opportunity for businesses and organizations to display their humanity and bring neighbors together. Here are a few ways the Boston business and non-profit community got involved in 2016:</p>
</section>
<section class="community" id="community">
    <div class="slider">

        <div class="activity stfrancis">
            <div class="block">
                <figure class="activity-image">
                    <img src="/img/community/StFrancis.jpg" alt="St. Francis House">
                </figure>
                <div class="copy">
                    <p><strong>St. Francis House</strong> partnered with John Hancock to collect sneakers for the many guests they serve. </p>
                    <a href="http://www.stfrancishouse.org/" target="_blank">Learn more</a>
                </div>
            </div>
        </div>

        <div class="activity steppingstrong">
            <div class="block">
                <figure class="activity-image">
                    <img src="/img/community/steppingStrong.png" alt="Stepping Strong">
                </figure>
                <div class="copy">
                    <p>Boston Marathon survivors and founders of the Gillian Reny <strong>Stepping Strong</strong> Fund hosted a blood drive just past the Marathon finish line on Boylston Street. </p>
                    <a href="http://give.brighamandwomens.org/funds/gillian-reny-stepping-strong-fund/" target="_blank">Learn more</a>
                </div>
            </div>
        </div>

        <div class="activity legacyplace">
            <div class="block">
                <figure class="activity-image">
                    <img src="/img/community/legacyplace.jpg" alt="Legacy Place">
                </figure>
                <div class="copy">
                    <p><strong>Legacy Place </strong>in Dedham hosted a One Boston Day walk to benefit the Greater Boston Food Bank.</p>
                    <a href="http://www.legacyplace.com/event/walk-as-one-for-one-boston-day/2145471549" target="_blank">Learn more</a>
                </div>
            </div>
        </div>

        <div class="activity museumsofscience">
            <div class="block">
                <figure class="activity-image">
                    <img src="/img/community/MuseumOfScience.png" alt="Legacy Place">
                </figure>
                <div class="copy">
                    <p>The <strong>Museum of Science</strong> offered free entry for visitors to reflect in the peace of the Butterfly Garden.</p>
                    <a href="http://www.mos.org/" target="_blank">Learn more</a>
                </div>
            </div>
        </div>

        <div class="activity cityofboston">
            <div class="block">
                <figure class="activity-image">
                    <img src="/img/community/City.png" alt="City of Boston">
                </figure>
                <div class="copy">
                    <p>The <strong>City of Boston </strong> collected donations of pre-mixed baby formula, baby wipes, and hand sanitizer for Flint, Michigan. </p>
                    <a href="http://www.cityofboston.gov/news/Default.aspx?id=20575" target="_blank">Learn more</a>
                </div>
            </div>
        </div>

        <div class="activity cityofboston">
            <div class="block">
                <figure class="activity-image">
                    <img src="/img/community/elPelon.png" alt="El Pelon">
                </figure>
                <div class="copy">
                    <p><strong>El Pelon </strong> donated $1 from every burrito sold on One Boston Day to the Massachusetts Immigrant and Refugee Advocacy Coalition.</p>
                    <a href="http://www.elpelon.com/" target="_blank">Learn more</a>
                </div>
            </div>
        </div>

        <div class="activity pinestreetin">
            <div class="block">
                <figure class="activity-image">
                    <img src="/img/community/PineStreet1.jpg" alt="Pine Street Inn">
                </figure>
                <div class="copy">
                    <p>The <strong>Pine Street Inn</strong> had a dry cereal drive.</p>
                    <a href="http://www.pinestreetinn.org/" target="_blank">Learn more</a>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="city" id="city">
    <div class="block">
        <header class="section-intro">
            <h2>City Involvement</h2>
            <p>Since its founding, Boston has served as a beacon of hope and strength for the rest of the world. On One Boston Day, we show the world that Boston’s flame burns as bright as ever.</p>
            <p>Learn more about what One Boston Day means to our city: </p>
        </header>
        <div class="video">
            <img src="/img/mayor.jpg" alt="Mayor Marty Walsh announces One Boston Day">
            <span>
                <svg class="icon icon-play"><use xlink:href="#icon-play"></use></svg>
            </span>
        </div>
    </div>
</section>

<section class="planning" id="planning">
    <div class="block">
        <header class="section-intro">
            <h2>We encourage you to share how your organization is participating in One Boston Day 2017.</h2>
            <p>City of Boston representatives may contact you in regard to using your organization’s activity or event to help promote One Boston Day. Your contact information will be kept strictly confidential. </p>
        </header>
        <form class="planning-form" action="https://docs.google.com/forms/d/e/1FAIpQLScQlvlSEQBz8LDO5KY7tlrg57Xt71kmPfXdN2XYyP_s50D9Uw/formResponse">
            <em>* all fields are required</em>
            <fieldset>
                <label>Full name*</label>
                <input type="text" required name="entry.1027136787">
            </fieldset>
            <fieldset>
                <label>Organization*</label>
                <input type="text" required name="entry.884022436">
            </fieldset>
            <fieldset>
                <label>Email*</label>
                <input type="email" required title="Please make sure you've entered a valid email" name="entry.639725217">
            </fieldset>
            <fieldset>
                <label>Phone Number*</label>
                <input type="text" required name="entry.1686466888">
            </fieldset>
            <fieldset>
                <label>Event Size*</label>
                <div class="select-wrapper">
                    <select name="entry.1943417265">
                        <option value="Small">Small (Under 50 People)</option>
                        <option value="Medium" selected>Medium (50-100 People)</option>
                        <option value="Large">Large(100+ People)</option>
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <label>Plans for <span>One Boston Day*</span></label>
                <textarea placeholder="Event Description" rows="4" name="entry.1481659303" required></textarea>
            </fieldset>
            <fieldset>
                <input type="submit" value="Submit Event"> 
            </fieldset>
        </form>
    </div>
</section>