<section class="header-intro">
    <h1>Community Impact</h1>
    <p>One Boston Day is an opportunity for businesses and organizations to display their humanity and bring neighbors together. Here are a few ways the Boston business and non-profit communities go involved:</p>
</section>
<section class="community" id="community">
    <div class="slider">
        <% for(var i=0; i<public.community._data.length; i++) {%>
            <div class="activity">
                <div class="block">
                    <figure class="activity-image">
                        <img src="/img/community/<%= public.community._data[i].image %>" alt="<%= public.community._data[i].altText %>">
                    </figure>
                    <div class="copy">
                        <p><%- public.community._data[i].copy %></p>
                        <a href="<%= public.community._data[i].link %>" target="_blank">Learn more</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</section>

<section class="city" id="city">
    <div class="block">
        <header class="section-intro">
            <h2>City Involvement</h2>
            <p>Since its founding, Boston has served as a beacon of hope and strength for the rest of the world. On One Boston Day, we show the world that Boston’s flame burns as bright as ever.</p>
            <p>Learn more about what One Boston Day means to our city: </p>
        </header>
        <div class="video">
            <img src="/img/mayor.jpg" alt="Mayor Marty Walsh announces One Boston Day">
            <span>
                <svg class="icon icon-play"><use xlink:href="#icon-play"></use></svg>
            </span>
        </div>
    </div>
</section>

<section class="planning" id="planning">
    <div class="block">
        <header class="section-intro">
            <h2>We encourage you to share how your organization participates in One Boston Day.</h2>
            <p>City of Boston representatives may contact you in regard to using your organization’s activity or event to help promote One Boston Day. Your contact information will be kept strictly confidential. </p>
        </header>
        <form class="planning-form" action="https://docs.google.com/forms/d/e/1FAIpQLScQlvlSEQBz8LDO5KY7tlrg57Xt71kmPfXdN2XYyP_s50D9Uw/formResponse">
            <em>* all fields are required</em>
            <fieldset>
                <label>Full name*</label>
                <input type="text" required name="entry.1027136787">
            </fieldset>
            <fieldset>
                <label>Organization*</label>
                <input type="text" required name="entry.884022436">
            </fieldset>
            <fieldset>
                <label>Email*</label>
                <input type="email" required title="Please make sure you've entered a valid email" name="entry.639725217">
            </fieldset>
            <fieldset>
                <label>Phone Number*</label>
                <input type="text" required name="entry.1686466888">
            </fieldset>
            <fieldset>
                <label>Event Size*</label>
                <div class="select-wrapper">
                    <select name="entry.1943417265">
                        <option value="Small">Small (Under 50 People)</option>
                        <option value="Medium" selected>Medium (50-100 People)</option>
                        <option value="Large">Large(100+ People)</option>
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <label>Plans for <span>One Boston Day*</span></label>
                <textarea placeholder="Event Description" rows="4" name="entry.1481659303" required></textarea>
            </fieldset>
            <fieldset>
                <input type="submit" value="Submit Event"> 
            </fieldset>
        </form>
    </div>
</section>