<section class="header-intro">
    <h1>Stories</h1>
    <p>PLACEHOLDER: Read and learn about first-hand stories and new initiatives from those brave people who were at the marathon</p>
</section>

<section class="stories">
    <div class="block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <nav class="story-nav">
            <div>
                <label>
                    <span>Order:</span>
                    <div class="select-wrapper">
                        <select>
                            <option>Random</option>
                            <option>Alphabetically</option>
                        </select>
                    </div>
                </label>
            </div>
            <div>
                <label>
                    <span>Show Excerpts:</span>
                    <input type="checkbox" name="show-excerpts" checked>
                </label>
            </div>
        </nav>
        <div class="story-list">
            <ul>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
                <li>
                    <a href="/stories/story.html">
                        <div>
                            <img src="http://placehold.it/150x150">
                            <h3>Firstname Lastname</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>