<section class="header-intro short">
    <h1>Firstname Lastname</h1>
</section>

<section class="photos">
    <div class="holder" style="background-image:url('http://placehold.it/400x400')"></div>
    <ul class="thumbs">
        <li class="active" style="background-image:url('http://placehold.it/300x300')"></li>
        <li style="background-image:url('http://placehold.it/500x500')"></li>
        <li style="background-image:url('http://placehold.it/200x200')"></li>
    </ul>
</section>

<section class="story block">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p class="pullquote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna&nbsp;aliqua.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</section>

<section class="links block">
    <h3>Additional Links:</h3>
    <ul>
        <li><a href="https://example.com">https://example.com</a></li>
        <li><a href="https://example.com">https://example.com</a></li>
        <li><a href="https://example.com">https://example.com</a></li>
    </ul>
    <h3>Share this story:</h3>
    <ul class="social-share">
        <li>
            <a href="#">
                <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
            </a>
        </li>
    </ul>
    <a class="button btn primary" href="/stories">View all stories</a>
</section>