

{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
	<section class="header-intro">
		<h2>Error 404</h2>
	</section>
	<section class="basic-page press tracked">
		<div class="block">
			<p style="max-width:500px; text-align:center; padding:20px 10px 90px; display:block; margin:0 auto;">We're sorry, but the page you requested can not be found. Please return to the <a href="/">homepage</a> to learn more about One Boston Day.</p>
		</div>
	</section>
{% endblock %}
