<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>One Boston Day</title>
        <meta name="description" content="April 15th marks the beginning of a new annual Boston tradition: One Boston Day. This day will be a celebration of the resiliency, generosity, and strength of the people that make Boston a great city.">
        <meta name="keywords" content="Boston, One Boston Day, Resiliency, New England, Kindness">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="icon" type="image/png" href="/img/favicon.png"/>

        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/747778/767146/css/fonts.css" />

        <link rel="stylesheet" href="{{ cacheBuster('/css/screen.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ cacheBuster('/css/print.min.css') }}" media="print">

        <script src="/js/vendor/modernizr.js"></script>

        <!--[if lt IE 9]>
            <script src="/js/vendor/html5shiv.js"></script>
        <![endif]-->

        <!-- twitter cards -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@CityofBoston">
        <meta name="twitter:title" content="One Boston Day | Our City. Our Day.">
        <meta name="twitter:description" content="#OneBostonDay is a celebration of the resiliency and generosity of the people of Boston. Join your neighbors and share what you will do. ">
        <meta name="twitter:image" content="http://www.onebostonday.org/img/share.png">
        {# <meta name="twitter:player" content="https://www.youtube.com/embed/5XLJabL_UfE?autoplay=1&rel=0"> #}
        {# <meta name="twitter:player:width" content="1600">
        <meta name="twitter:player:height" content="900"> #}
        <!-- end twitter cards -->

        <!-- Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="One Boston Day | Our City. Our Day. "/>
        <meta property="og:url" content="http://www.onebostonday.org/"/>
        <meta property="og:image" content="http://www.onebostonday.org/img/share.png"/>
        <meta property="og:site_name" content="One Boston Day"/>
        <meta property="og:description" content="#OneBostonDay is a celebration of the resiliency and generosity of the people of Boston. Join your neighbors and share what you will do. "/>
        <!-- end facebook -->
        
    </head>
    <body>
        {% include '_partials/symbols' %}
        {% include '_partials/nav' %}

        {% block content %}
            {# CONTENT GETS LOADED IN HERE #}
        {% endblock %}


        {% include '_partials/footer' %}

        {% include '_partials/scripts' %}
    </body>
</html>
